main {
  margin: 20px;
}
.booklog-container {
  background-color: #fff;
  border: 1px solid rgb(171, 171, 233);
  margin-bottom: 10px;
  padding: 10px;
  &__book-item {
    height: 100px;
  }
  &__book-item p {
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__book-item--title {
    font-size: 20px;
  }
  &__button {
    background-color: rgb(50, 50, 160);
    color: #fff;
    padding: 5px;
    border: none;
    margin: 10px 0;
  }
}
.booklog-container__book-item {
  background-color: #fff;
}
.booklog-container__review-item {
  background-color: rgb(171, 171, 233);
}
